/* line 3, ../sass/main.sass */
body {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Droid Sans", sans-serif;
}

/* line 8, ../sass/main.sass */
h1, h2, h3 {
  font-family: "Lato", sans-serif;
}

/* line 11, ../sass/main.sass */
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* line 15, ../sass/main.sass */
.logo {
  float: left;
  margin-right: 5px;
}

/* line 18, ../sass/main.sass */
.bolinas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 23, ../sass/main.sass */
.icon-bar {
  background: #337ab7;
}

/* line 25, ../sass/main.sass */
.navbar-toggle:hover {
  background: #f0f0f0;
}

/* line 27, ../sass/main.sass */
#contadorMCP {
  border: 1px solid #cccccc;
  text-align: center;
  padding: 10px;
}

.slick-track>div
{
    outline:none;
}